*{
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
}

.navbar{
    color: white;
    border: 1px;
    background-color: black;
    padding: 20px;
    display: flex;
}

#nama{
    padding-right: 20px;
}

.navbar-item{
    padding-right: 20px;
}

a:visited {
    color: white;
}

a:hover {
    color: rebeccapurple;
}

a{
    text-decoration: none;
    color: white;
}

.box{
    position: absolute;
    top: 15%;
    left: 20%;
}

.search{
   padding-bottom: 20px;

}

th, td {
    color: white;
    border: 1px solid white;
    background-color: black;
    border-collapse: collapse;
    
}

table {
    border: 1px solid white;
    border-collapse: collapse;
    width:900px;
    height: 100px;
    text-align: center;
}

#Upgrade{
    margin-top: 20px;
    color: white;
    background-color:blue;
    width: 60px;
    height: 40px;
    font-size: 15px;
}

#delete{
    margin-top: 20px;
    color: white;
    background-color:red;
    width: 60px;
    height: 40px;
    font-size: 15px;
}

#cari{
    width: 90%;
    height: 30px;
}

#button{
    margin-top: 20px;
    width: 70px;
    height: 35px;
    font-size: 15px;
}