*{
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
    
}

.navbar{
    color: white;
    border: 1px;
    background-color: black;
    padding: 20px;
    display: flex;
    width: 100%;
    position: fixed;;
}

#nama{
    padding-right: 20px;
}

.navbar-item{
    padding-right: 20px;
}

a:visited {
    color: white;
}

a:hover {
    color: rebeccapurple;
}

a{
    text-decoration: none;
    color: white;
    border: 20px;
    border-color: aqua;
   
}

.box{
    position: absolute;
    top: 15%;
    left: 20%;
}

.search{
   padding-bottom: 20px;

}

th, td {
    color: white;
    border: 1px solid white;
    background-color: black;
    border-collapse: collapse;
    
}

table {
    border: 1px solid white;
    border-collapse: collapse;
    width:900px;
    height: 100px;
    text-align: center;
}

<<<<<<< HEAD
=======
#Update{
    margin-top: 20px;
    color: white;
    background-color:blue;
    width: 60px;
    height: 40px;
    font-size: 15px;
}
>>>>>>> 4a1d75576abd15498cb0e4aca54ec3ecef7341f7


.update{
    border-color: aqua;
    border: 20px;
    background-color: aqua;
}

#cari{
    width: 90%;
    height: 30px;
}

#tombol{
    margin-top: 20px;
    width: 70px;
    height: 35px;
    font-size: 15px;
<<<<<<< HEAD
    border: 20px;
}


:placeholder-shown{
    padding-left: 10px;
}

=======
}

#Update{
    margin-bottom: 20px;
    width: fit-content;
    padding: 10px;
}

#delete{
    margin-bottom: 20px;
}

#Update, #delete{
    margin-right: 10px;
    border-radius: 5px;
}

:placeholder-shown{
    padding-left: 10px;
}
>>>>>>> 4a1d75576abd15498cb0e4aca54ec3ecef7341f7
